<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds only: may load a local copy of the site over plain http
     (http://10.0.2.2:<port> is the Mac from the emulator). Release builds
     load https only. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute" />
</manifest>
